<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flutter</title>
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1>Welcome to Flutter!</h1>
        </header>
    </body>
    <nav>
        <a href="/">Home</a>
        {{#if loggedin}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <div class="blogpost">
            {{{body}}}
        </div>
    </main>
    {{#if loggedin}}
    <script src="/js/logout.js"></script>
    {{/if}}
</html>