<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flutter</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    
    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Flutter</li>
          <li><a class="nav-bar-a" href="/">Home</a></li>
          <li><a class="nav-bar-a" href="/profile">Profile</a></li>
        </ul>
      </div>
      {{#if logged_in}}
      <div class="top-bar-right">
        <ul class="menu search_bar">
          <li><input type="search" placeholder="Search" id="search-bar"></li>
          <li><button type="button" class="button" id="logout-button">Logout</button></li>
          <div id="result"></div>
        </ul>
      </div>
      {{/if}}
    </div>
    <main>
      <div class="blogpost">
          {{{body}}}
      </div>
  </main>
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
    <script src="/js/search.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>