<!--This is the sign in form, where users can sign into a created account-->
<form class="signin-form">
    <div class="large-3 medium-6 small-6 columns end">
        <label>Email
            <input type="text" placeholder="Email" id="">
        </label>
        <label>Password
            <input type="text" placeholder="Password">
        </label>
    </div>
</form>
<!--This is the sign up form, where users accounts are created-->
<button onclick="document.getElementById('signup-form').syle.display='block'">Sign Up</button>

<div id="signup-form" class="modal">
    <span onclick="document.getElementById('signup-form').syle.display='none'" class="close" title="Close Modal"></span>
    <form class="modal-content">
        <div class="container" <h1>Sign up</h1>
            <p>Please fill in this form to create an account.</p>
            <!--This is the email for the users account-->
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <!--This is the password for the users account -->
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <!--Asks for the users password again to verify that it was spelt properly-->
            <label for="repeat-password"><b>Repeat Password</b></label>
            <input type="password" placeholder="Enter Password Again" name="repeat-password" required>
            <div class="float">
                <button type="button" onclick="document.getElementById('signup-form').style.display='none'"
                    class="cancel">Cancel</button>
                <button type="submit" class="signup">Sign Up</button>
            </div>
        </div>
    </form>
</div>


<a class="sign_in small button">Sign In</a>